<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/Signup.css" />
    <link rel="stylesheet" href="css/index.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <%- include('../includes/navigation.ejs')%>
    <div class="container">
      <div class="form-container">
        <h2>Sign Up</h2>
        <form action="/student-page" method="get">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required />
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
          </div>
          <div class="form-group">
            <label for="role">Role:</label>
            <select id="role" name="role" required>
              <option value="student">Student</option>
              <option value="instructor">Instructor</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
