body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  flex-wrap: wrap;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex: 1;
}

.nav-links a,
.login-btn {
  color: #5092da;
  text-decoration: none;
  margin: 0 10px;
  font-size: larger;
}

.nav-links a:hover,
.login-btn:hover {
  background-color: #5092da;
  color: white;
}

.container {
  text-align: center;
  padding: 50px 20px;
}

.container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  display: inline-block;
}

.highlighted {
  color: white;
  font-weight: bold;
  position: relative;
}

.highlighted::before,
.highlighted::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  bottom: -4px;
  left: -5px;
  right: -4px;
  border: 2px solid #5092da;
  transform: skew(-15deg);
  z-index: -1;
  background-color: #5092da;
}

.container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .container h1 {
    font-size: 2em;
  }

  .container h2 {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 10px;
  }

  .nav-links a,
  .login-btn {
    margin: 5px 0;
  }

  .container h1 {
    font-size: 1.5em;
  }

  .container h2 {
    font-size: 1em;
  }

  .highlighted::before,
  .highlighted::after {
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
  }
}
