<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <title>Simple Responsive Page</title>
  </head>
  <body>
    <div class="navbar">
      <!-- Replace with real image URL -->
      <div class="nav-links">
        <a href="#courses">Courses</a>
        <a href="#about-us">About Us</a>
      </div>
      <a href="#login" class="login-btn">Login</a>
    </div>
    <div class="container">
      <h1>Welcome to<span class="highlighted"> E-learning</span></h1>
      <h2>
        where <span class="highlighted"> E </span> stands for
        <span class="highlighted"> Everything</span>
      </h2>
    </div>
  </body>
</html>
